---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cereja - The missing cherry on top of your library.</title>
	</head>
	<body>
		<style>
			* {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				background-color: #a4003d;
				color: #ffa5a5;
			}
			.main {
				margin-left: 10%;
				margin-top: 10%;
			}
		</style>
		<div class="main">
			<slot />
		</div>
	</body>
</html>